{% extends 'base.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style_advanced_search.css') }}" />
{% endblock %}

{% block main_content %}
    
    <div class="breadcrumbs">
        <a href="{{ path('homepage') }}">Strona główna</a>
        <span>/</span>
        Wyszukiwarka
    </div>
    <h4>Wyszukiwarka</h4>
    <p class="title"></p>
    
    <form id="advanced_search" action="" method="post">
        <fieldset class="search_type">
            <label>Zakres wyszukiwania:</label>
                <input checked type="radio" name="range" value="1"/>Przetargi aktualne
                <input type="radio" name="range" value="0"/>Przetargi zakończone
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Podstawowe</p>

            <label>ID przetargu: </label>
            <input type="text" />
            <br>
            <label>Słowa kluczowe: </label>
            <textarea rows="1"></textarea>
            <br>
            <label>Miasto: </label>
            <input type="text" />
            <label>Organizator: </label>
            <input type="text" />
        
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Zasięg terytorialny</p>
            <label>Województwo: </label>
            <select name="wojewodztwo">
                <option selected="selected">-- wybierz --</option>
                <option>dolnośląskie</option>
                <option>kujawsko-pomorskie</option>
                <option>lubelskie</option>
                <option>lubuskie</option>
            </select>
            
            <select multiple></select>
            
            <div class="buttons">
                <a href="" class="btn-primary btn-xs">Dodaj >></a>
                <a href="" class="btn-danger btn-xs"><< Usuń</a>
            </div>
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Branże (możesz wybrać kilka)</p>
            <label>Branża: </label>
            <select name="branches">
                <option selected="selected">-- wybierz --</option>
                <option>administrowanie obiektami/lokalami</option>
                <option>artykuły biurowe osprzęt biurowy</option>
                <option>artykuły gospodarstwa domowego</option>
                <option>artykuły spożywcze</option>
            </select>
            <br>
            <label>Podbranża: </label>
            <select name="subbranches">
                <option selected="selected">-- wybierz --</option>
            </select>
            
            <select multiple></select>
            
            <div class="buttons">
                <a href="" class="btn-primary btn-xs">Dodaj >></a>
                <a href="" class="btn-danger btn-xs"><< Usuń</a>
            </div>
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Inne</p>
            <label>Kod CPV: </label>
            <input type="text" />
            <br>
            <label>Data dodania od: </label>
            <input type="date" name="" value="" />
            <strong>do:</strong>
            <input type="date" name="" value="" />
        </fieldset>
        
        <fieldset class="actions">
            <button type="submit" class="btn-success btn-sm">Szukaj</button>
        </fieldset>
        

    </form>
    
{% endblock%}
