{% extends 'base.html.twig' %}

{% block main_content %}
    
    <div class="breadcrumbs">
        <a href="{{ path('homepage') }}">Strona główna</a>
        <span>/</span>
        Profil
    </div>
        
    {{ include('@FOSUser/Profile/show_content.html.twig') }}
    
{% endblock %}

