<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Baza Zamówień Przetargowych{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="Author" content="Kamil Bogdański" />
        <meta name="Copyright" content="(c) 2017 Kamil Bogdański" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    Logo INFOVERITI z lewej strony
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Pomarańczowy lub inne go koloru pase z napisem "Baza Zamówień Przetargowych"
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-2">
                    <a href="" class="btn btn-success btn-xs btn-block">MENU 1</a>
                    <a href="" class="btn btn-success btn-xs btn-block">MENU 2</a>
                    <a href="" class="btn btn-success btn-xs btn-block">MENU 3</a>
                    <a href="" class="btn btn-success btn-xs btn-block">MENU 4</a>
                    <a href="" class="btn btn-success btn-xs btn-block">MENU 5</a>
                    <a href="" class="btn btn-success btn-xs btn-block">MENU 6</a>
                </div>
                <div class="col-xs-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
            
        </div>

    </body>
</html>