{% extends "@FOSUser/layout.html.twig" %}

{% block main_content %}
    
    <div class="breadcrumbs">
        <a href="{{ path('homepage') }}">Strona główna</a>
        <span>/</span>
        Rejestracja
    </div>
        
    {% include "@FOSUser/Registration/register_content.html.twig" %}
    
{% endblock %}
